body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.static {
    cursor: not-allowed;
}

.draggable {
    cursor: move;
}
.supra-gradient {
  -webkit-overflow-scrolling: touch;
  background-image:
    linear-gradient(to top, black 20%, transparent, white 80%),
    linear-gradient(to right, Red, Orange, Yellow, Green, Blue, Purple, Indigo);
}

.app-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app-logo {
  margin-top: 5vh;
  width: 30vw;
  max-width: 300px;
  margin-bottom: 20px;
}
.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}
.graphic-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-large;
  font-weight: bold;
}
.graphic-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.graphic-column {
  margin: 10px
}
.graphic-border {
  border: 1px solid;
  padding: 5px;
}
.content-wrapper{
  display: flex;
  justify-content: space-between;
  min-width: 450px;
  padding-top: 10px;
  margin-top: 5px;
  border-top: 1px solid;
}
.item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: x-large;
  font-weight: bold;
}
.circle {
  border-radius: 100%;
  width: 60px;
  height: 60px;
  margin-right: 20px;
}
.black {
  background-color: black;
  border: 4px solid white;
}
.white {
  background-color: white;
  border: 4px solid black;
}
.app-input {
  margin-top:20px;
  margin-bottom: 10px;
  height: 70px;
  margin-left: 20px;
  width: 450px;
  font-size: 20px;
}	
.hidden-img {
  display: none;
}
.app-button {
  padding : 10px;
  font-size: larger;
  width: 200px;
  margin-top: 20px;
}
figure {
  display: table;
}

figcaption {
  display: table-caption;
  caption-side: bottom;
  text-align: center;
  font-size: large;
  font-style: italic;
  font-weight: bold;
  color: white;
}
